.Table {
    width: 95%;
    
    border-radius: 20px;

    padding : 20px;
    margin-top : 30px;

    background-color: var(--item);
}

.HeadColumn {
    padding : 20px 0px;
    text-align: left;
    color : #DDD;
}

td {
    color : #CCC;
}


