.Table {
    width: 95%;
    
    border-radius: 20px;

    padding : 20px;
    margin-top : 30px;

    background-color: var(--item);
    border-spacing: 10px;
    box-shadow: 3px 3px 3px #171717;
}

.HeadColumn {
    padding : 20px 0px;
    text-align: left;
    color : #DDD;
    font-size: 22px;
    font-family: cursive;
}

td {
    color : #CCC;
    font-family: cursive;
    padding : 10px;
    background-color: var(--itemTwo);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #171717;
}



