
.Header {
    width: 100%;
    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--itemTwo);
}


.Body {

    width: 80%;
    height: 100vh;

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background);
}

h3 {
    color : #FFF;
    font-size : 25px;
    font-family: cursive;

    transform: translateY(-20px);
}