
.Header {
    width: 100%;
    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--item);
}


.Body {

    width: 80%;
    height: 100vh;

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background);
}

h2 {
    color : #FFF;
    font-size: 30px;
    font-family: cursive;
}